
// .header_init
//   border-bottom: 0.026667rem solid #ECECEC

.border_bottom1px
  border-bottom: 0.026667rem solid #ECECEC

.blue_line
  display: inline-block
  width: 1.28rem
  height: 0.106667rem
  background: #4286F3
  border-radius: 100px

.gray_line
  display: inline-block
  width: 0.853333rem
  height: 0.106667rem
  background: #ECECEC
  border-radius: 100px  

.more
  display: inline-block
  color: #fff
  font-size: 0.373333rem
  padding: 0.266667rem 0.72rem
  background: #4286F3
  border-radius: 100px

.banner
  width: 10.0rem
  height: 8.0rem
  text-align: center
  padding: 0.533333rem 0.533333rem
  box-sizing: border-box
  color: #fff
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  &>p:nth-child(1)
    font-size: 0.853333rem
    line-height: 1.2rem
  &>p:nth-child(3)
    font-size: 0.373333rem
    
    